#blacklist top level folder
/*

#whitelist files & folders
!.gitignore
!README.md

!.i3/
!.i3status.conf


!.config
.config/*
!.config/picom.conf
!.config/polybar/
!.config/wal/

!.bashrc
!.bash_profile
!.bash_aliases
!.profile
